# Environments 
venv

# Python Artifacts
*.egg-info/
__pycache__

# Flat files
*.json
*.csv

# folders
mediner_model/
data/

# temp files
.DS_Store

# notebook files
*ipynb
.ipynb_checkpoints

# binaries
*tar.gz
*.spacy
*.pkl

